/* Main Structure */

body, p {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 300 !important;
}

img#logo {
    position: absolute;
    top: -5px;
    width: 124px;
    left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 300 !important;
}

.uk-container {
    box-sizing: content-box;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

main {
    background: #f1f1f1;
}

/* Hero */

.uk-cover-container {
    height: 512px;
}

.hero .uk-overlay-primary {
    background: rgba(34,34,34,.5);
}

.uk-container.heroContent.uk-text-center {
    position: relative;
    top: -80px;
}

.heroContent h1 {
    font-size: 4em;
    font-weight: 700 !important;
    margin-top: -16px;
}

.heroContent .buttonWrapper {
    position: relative;
    top: -12px;
}

/* Navigation */


#social {
    margin-right: 8px;
}

#social li {
    color: #2276C2 !important;
    list-style: none;
    float: left;
    margin-right: 4px;
    padding-top: 18px;
}

header {
    -webkit-box-shadow: 0px -2px 8px -1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px -2px 8px -1px rgba(0,0,0,0.20);
    box-shadow: 0px -2px 38px -1px rgba(0,0,0,0.20);
    position: relative;
    z-index: 2;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #fff !important;
}

.tm-navbar-container .uk-navbar-nav>li>a {
    position: relative;
}

.primary-nav li {
    border-right: 1px solid #efefef;
    position: relative;
    top: 0px;
    height: 72px;
}

.uk-navbar-nav>li>a::before {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    right: calc(102% - 15px);
    bottom: 12px;
    height: 2px;
    top: 56px;
    background-color: #FF8800 !important;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transition-property: right;
    transition-property: right;
}

.uk-navbar-nav>li>a, .uk-navbar-item, .uk-navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 80px;
    padding: 0 15px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.uk-navbar-nav>li>a {
    color: #666;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color;
}

.uk-navbar-nav>li>a {
    min-height: 56px;
    text-transform: none;
    font-size: 16px;
    color: #fff !important;
    height: 56px !important;
}

.uk-navbar-nav li a {
    color: #000 !important;
    position: relative;
    top: -6px;
    font-size: 1em !important;
    text-transform: capitalize !important;
}

.uk-navbar-container .uk-navbar-nav>li>a {
    position: relative;
}

.uk-navbar-container .uk-navbar-nav>li>a {
    position: relative;
}


.uk-navbar-right .uk-navbar-nav>li>a:hover::before, .uk-navbar-left .uk-navbar-nav>li>a:hover::before {
    right: 15px;
}

/* UI Controls: Buttons */

.uk-button {
    margin: 4px !important;
}

.uk-button-primary {
    background-image: linear-gradient(216deg, #FFA34A 0%, #FF6A24 42%);
    border-radius: 28px;
    color: #fff !important;
    font-weight: 700 !important;
}

.uk-button-secondary {
    background: none !important;
    border: 4px solid #fff !important;
    border-radius: 28px;
    color: #fff !important;
    font-weight: 700 !important;
}

/* UI Controls: Tabs */

.tabs {
    margin-bottom: 0px;
    margin-left: 0px !important;
    background: #fff;
}

.tabs li {
    border-right: 1px solid #ccc6;
    padding-left: 0px;
}

.tabs li a {
    height: 40px;
    padding-top: 24px;
    font-size: 1em;
    text-transform: capitalize;
}

.uk-tab>.uk-active>a {
    color: #333;
    border-color: #FF8800 !important;
    border-bottom-width: 3px;
    text-transform: capitalize;
    font-weight: 500;
}

.tabs .uk-active {
    background: #f5f5f57a !important;
}

/* Deal Wrapper */

.dealContainer {
    position: relative;
    top: -73px;
    border-radius: 2px;
    background-color: #fff;
}

.dealWrapper {
    background: #fff;
    padding: 32px;
    -webkit-box-shadow: 0px -2px 8px -1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px -2px 8px -1px rgba(0,0,0,0.20);
    box-shadow: 0px -2px 38px -1px rgba(0,0,0,0.20);
}

/* Cards */

.uk-card.uk-card-default.uk-card-body {
    padding: 0px;
}

.cardHero {
    width: 100%;
    height: 192px;
    background: #ccc;
}

.cardContents {
    padding: 32px;
}