/* Main Structure */

body, p {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 300 !important;
}

img#logo {
    position: absolute;
    top: -2px;
    width: 124px;
    left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 300 !important;
}

.uk-container {
    box-sizing: content-box;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

main {
    background: #f1f1f1;
}

/* Hero */

.cardContents h3 {
    margin-top: 0px;
}

img.productImage {
    width: 50%;
    padding: 0px;
    margin: 0px;
}

.uk-cover-container {
    height: 512px;
}

.hero .uk-overlay-primary {
    background: rgba(34,34,34,.4);
}

.uk-container.heroContent.uk-text-center {
    position: relative;
    top: -48px;
}

.heroContent h1 {
    font-size: 4em;
    font-weight: 700 !important;
    margin-top: -16px;
}

.heroContent .buttonWrapper {
    position: relative;
    top: -12px;
}

/* Navigation */

.uk-navbar-nav li a:hover {
    background: #00000008;
}

#social {
    margin-right: 8px;
}

#social svg {
    fill: #2276C2;
}

#social li {
    color: #2276C2 !important;
    list-style: none;
    float: left;
    margin-right: 4px;
    padding-top: 18px;
}

header {
    -webkit-box-shadow: 0px -2px 8px -1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px -2px 8px -1px rgba(0,0,0,0.20);
    box-shadow: 0px -2px 38px -1px rgba(0,0,0,0.20);
    position: relative;
    z-index: 2;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #fff !important;
}

.tm-navbar-container .uk-navbar-nav>li>a {
    position: relative;
}

.primary-nav li {
    border-right: 1px solid #efefef;
    position: relative;
    top: 0px;
    height: 72px;
}

.uk-navbar-nav>li>a::before {
    content: '';
    display: block;
    position: absolute;
    left: 15px;
    right: calc(102% - 15px);
    bottom: 12px;
    height: 2px;
    top: 56px;
    background-color: #FF8800 !important;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transition-property: right;
    transition-property: right;
}

.uk-navbar-nav>li>a, .uk-navbar-item, .uk-navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 80px;
    padding: 0 15px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.uk-navbar-nav>li>a {
    color: #666;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color;
}

.uk-navbar-nav>li>a {
    min-height: 56px;
    text-transform: none;
    font-size: 16px;
    color: #fff !important;
    height: 56px !important;
}

.uk-navbar-nav li a {
    color: #000 !important;
    position: relative;
    top: -6px;
    font-size: 1em !important;
    text-transform: capitalize !important;
}

.uk-navbar-container .uk-navbar-nav>li>a {
    position: relative;
}

.uk-navbar-container .uk-navbar-nav>li>a {
    position: relative;
}


.uk-navbar-right .uk-navbar-nav>li>a:hover::before, .uk-navbar-left .uk-navbar-nav>li>a:hover::before {
    right: 15px;
}

/* UI Controls: Buttons */

button.uk-button.uk-button-primary.uk-button-large {
    transition-property: background-color 2s ease-out;
}


button.uk-button.uk-button-primary.uk-button-large:hover {
    background: #2276C2;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
 
}


.uk-button {
    margin: 4px !important;
}

.uk-button-primary {
    background-image: linear-gradient(216deg, #FFA34A 0%, #FF6A24 42%);
    border-radius: 28px;
    color: #fff !important;
    font-weight: 700 !important;
}

.uk-button-secondary {
    background: none !important;
    border: 4px solid #fff !important;
    border-radius: 28px;
    color: #fff !important;
    font-weight: 700 !important;
}

/* UI Controls: Stepper */


.stepOne_Login {
    background-image: url(../images/_iconLogin.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 62px;
    margin: auto;
}

.stepTwo_Login {
    background-image: url(../images/_iconSelectOffer.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 62px;
    margin: auto;
}

.stepThree_Login {
    background-image: url(../images/_iconRedeem.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 62px;
    margin: auto;
}


#process .uk-card {
    border-right: 1px solid #ccc6;
}

#process button.uk-button.uk-button-primary.uk-button-large {
    position: absolute;
    left: 472px;
}

div#process {
    margin-top: -32px;
}

#process .cardHero {
    background: #fff;
    height: 128px;
}

/* UI Controls: Tabs */

.tabs {
    margin-bottom: 0px;
    margin-left: 0px !important;
    background: #fff;
}

.tabs li {
    border-right: 1px solid #ccc6;
    padding-left: 0px;
}

.tabs li a {
    height: 32px;
    padding-top: 16px;
    font-size: 1em;
    padding-bottom: 6px;
    text-transform: capitalize;
}

.uk-tab>.uk-active>a {
    color: #333;
    border-color: #FF8800 !important;
    border-bottom-width: 3px;
    text-transform: capitalize;
    font-weight: 500;
}

.tabs .uk-active {
    background: #f5f5f57a !important;
}

/* Bespoke Headings */

.massiveHeading {
    font-weight: 600 !important;
    color: #2276C2;
    font-size: 4.5em !important;
    line-height: 1 !important;
}

.massiveSubHeading {
    font-weight: 400 !important;
    color: #000;
    font-size: 2em !important;
    margin-top: 0px !important;
    line-height: 1.1em !important;
}


/* Sections */

.phone {
    background-image: url(../images/iPhone.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center top;
}

.blueSection {
    height: auto;
    width: 100%;
    background-color: #2276C2;
}


.transparentSection {
    height: 256px;
    width: 100%;
    background: none;
}


/* Deal Wrapper */

.dealContainer {
    position: relative;
    top: -56px;
    border-radius: 2px;
    background-color: #fff;
}

.dealWrapper {
    background: #fff;
    padding: 32px;
    -webkit-box-shadow: 0px -2px 8px -1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px -2px 8px -1px rgba(0,0,0,0.20);
    box-shadow: 0px -2px 38px -1px rgba(0,0,0,0.20);
}

/* Cards */

.dealWrapper span.uk-badge {
    padding: 12px;
    margin-right: 8px;
    padding-top: 16px;
    position: relative;
    border-radius: 3px;
    padding-bottom: 16px;
    background: #fff;
    box-shadow: 0 5px 6px rgba(0,0,0,0.12);
    top: -12px;
    color: #1e87f0;
    border: 2px solid #1e87f0;
}

.uk-card.uk-card-default.uk-card-body {
    padding: 0px;
}

.cardHero {
    width: 100%;
    height: 148px;
    background: #ccc;
}

.cardContents {
    padding: 32px;
}